.login-form {
  width: 100%;

  .ant-form-explain {
    margin-bottom: 5px;
  }

  .alert-error {
    margin-bottom: 10px;
  }

  .section-title {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 10px;
  }

  .section-login-button {
    display: flex;
    justify-content: center;
  }

  .ant-spin {
    margin-left: 20px;
  }
}
