.layout-header {
  width: 100%;
  background: #4267b2;
  height: 64px;
  display: flex;
  align-items: center;

  .options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-right: 20px;

    .user {
      color: #fff;
      margin-right: 20px;
    }

    button {
      color: #fff;
    }
  }
}
