.edit-post-component {
  .np-txtArea {
    resize: none;
    width: 100%;
    margin-bottom: 10px;

    .ql-toolbar {
      padding: 0;

      .ql-formats {
        display: flex;
        justify-content: flex-end;
        margin: 0;
      }
    }

    .ql-container {
      min-height: 100px;
      max-height: 400px;
      .ql-editor {
        padding: 5px;
      }
    }
  }

  .options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    & > div {
      flex-basis: 80px;
      margin: 0px 0px 0px 10px;

      .ant-select-selection {
        height: 22px;

        & > div {
          line-height: unset;
        }
      }

      button {
        height: 22px;
        width: 100%;
      }
    }
  }

  & > div {
    width: 100%;
  }
}
